* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    list-style: none;
    text-decoration: none;
}
body {
  font-family: "Lato";  
  font-weight: 400;
  font-size: 20px;  
  color: #484848;
}
@font-face {
	font-family: 'Georgia';
	src: url('fonts/georgiab.eot');
	src: url('fonts/georgiab.woff') format('woff'),
    url('fonts/georgiab.ttf') format('truetype'),
    url('fonts/georgiab.svg') format('svg');
	font-weight: bold;
}
.container  {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.header__burger {
    display: none;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.adaptive-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.sign-in    {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.adaptive-menu li {
    margin-right: 70px;
}
.adaptive-menu li:last-child {
    margin-right: 0;
}
.adaptive-menu__link {
    color: #292929;
    opacity: .8;
    transition: all .2s ease;
}
.adaptive-menu__link:hover {
    color: #000;
    opacity: 1;
    transform: scale(1.2);
    transition: all .2s ease;
    overflow: hidden;
}
.sign {
    margin-right: 30px;
    cursor: pointer;
    opacity: .8;
    transition: all .2s ease;
}
.sign:hover {
    color: #000000;
    opacity: .8;
    transform: scale(1.2);
    transition: all .2s ease;
    overflow:hidden;
}
.btn {
    padding: 13px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    transition: all .2s ease;
}
.btn:hover {
    transform: scale(1.1);
    transition: all .2s ease;
    overflow: hidden;
}
.main-content {
    background: url(img/header/BG.png) no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    max-width: 440px;
    width: 100%;
    height: 380px;
}
.main-button {
    padding: 20px 50px;
}
.main-title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
}
.content {
    margin-bottom: 50px;
}
.content-begginer {
    margin-bottom: 50px;
}
.sub-title {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 157%;
    color: #424242;
}
.steps {
    display: flex;
    justify-content: space-between;
}
.steps-title, .product-title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 48px;
    line-height: 157%;
    color: #01996D;
    max-width: 580px;
    width: 100%;
    height: auto;
}
.steps-text {
    color: #424242;
    max-width: 660px;
    width: 100%;
    height: auto;
    line-height: 150%;
    transform: translate(0px, 15px);
}
.content-boxes {
    display: flex;
    justify-content: space-between;
}
.box-el__number {
    font-family: Georgia;
    font-weight: normal;
    font-size: 150px;
    line-height: 150%;
    text-align: left;
    color: rgba(1, 153, 109, 0.2);
    position: relative;
}
.box-el__text {
    max-width: 390px;
    width: 100%;
    height: auto;
    line-height: 150%;
    color: #424242;
    margin-bottom: 50px;
}
.box-el__img img {
    max-width: 390px;
    width: 100%;
    cursor: pointer;
}
.box-el__title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: #000000;
    position: absolute;
    top: 130px;
    left: 60px;
}
.box-el__head {
    position: relative;
}
.lst-box {
    top: 140px;
    left: 140px; 
}
.box-st {
    margin-top: 50px;
}
.box-nd {
    margin-top: 300px;
}
.box-rd {
    margin-top: 50px;
}
.review-box {
    max-width: 580px;
    width: 100%;
    height: 360px;
    margin-right: 30px;
}
.review-box__title {
    font-family: Georgia;
    font-weight: bold;
    font-size: 48px;
    line-height: 157%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.review-box__text {
    font-weight: 600;
    font-size: 23px;
    line-height: 157%;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.review-box__button {
    padding: 20px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}
.review-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color:#245852;
    height: 920px;
}
.video-box  {
    width: 100%;
    padding-bottom: 33.25%;
    position: relative;
}
.video-box iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16.3326px;
}
.product-body   {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 120px 0 170px 0;
}
.photo {
    background: rgba(1, 153, 109, 0.2);
    border-radius: 18.1125px;
    text-align: center;
    transform: translate(60px, 0px);
    
}
.profile-box{
    flex-basis: 50%;
    position: relative;
    padding-right: 60px;
}
.product-box {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    flex-basis: 50%;
}
.profile {
    position: absolute;
    bottom: -88px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: -5px 7px 10px #ddd;
    border-radius: 4px;
}
.profile__text {
    font-weight: 600;
    font-size: 14.49px;
    line-height: 157%;
    text-align: center;
    color: #000000;
    padding: 5px 0;
    border-bottom: 0.745942px solid #000000;
    display: inline-block;
    margin: 22px 0 15px 0;
}
.photo-small {
    background: rgba(1, 153, 109, 0.2);
    border-radius: 50%;
    width: 57.5px;
    height: 57.5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.profile__name {
    font-size: 12px;
    line-height: 157%;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}
.profile__content {
    font-family: Georgia;
    font-weight: bold;
    font-size: 16px;
    line-height: 157%;
    color: #000000;
    margin-bottom: 15px;
}
.profile__list li {
    font-weight: normal;
    font-size: 11px;
    line-height: 157%;
    text-align: left;
    color: #000000;
    list-style: disc;
    margin-bottom: 15px;
}
.profile__list li:last-child {
    margin-bottom: 30px;
}
.profile__list {
    transform: translate(-10px, 0px);
}
.sub-title._prod {
    margin-bottom: 10px;
}
.product-title {
    margin-bottom: 20px;
}
.product-text {
    margin-bottom: 40px;
    line-height: 31px;
}
.footer {
    background: #245852;
}
.footer-body {
    padding: 50px 0 70px;
}
.adaptive-menu._foot {
    flex-direction: column;
    align-items: flex-start;
}
.logo-foot {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.adaptive-menu._foot li {
    margin-bottom: 40px;
}
.adaptive-menu._foot li:last-child {
    margin-bottom: 0;
}
.footer-link {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer-list {
    display: flex;
    justify-content: space-between;
}